@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {
  background-color: white;

}
.typed-cursor {
  color: #EAB308;
}

.hero{
  
  margin: 0px;
  padding-top: 10vh;
  background-image: url("/herobg.jpg");
   background-size: cover; /* Adjust the background size as needed */
  background-repeat: no-repeat;
  height: 100vh;
}
.heroMenu{
  
  margin: 0px;
  padding-top: 10vh;
  background-image: url("/menuTop.jpeg");
   background-size: cover; /* Adjust the background size as needed */
  background-repeat: no-repeat;
  
  height: 35vh;
}


@keyframes back {
  0%, 100% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-back {
  animation: back 1s infinite;
}
@keyframes comein {
  0% {
    transform: scale(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  100% {
    transform: scale(1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

}

.animate-in {
  animation: comein 1s none;
}
